.grey
{
height:100px;
width:100px;
background-color:grey;
float:left;
}
.black
{
height:100px;
width:100px;
background-color:black;
float:left;
}
.one
{
height:100px;
width:800px;
}
.two
{
height:100px;
width:800px;
}